
body {
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
  
    font-family: 'Titillium Web', sans-serif;
    background-image: url('../assets/pokemon.jpg');
}

header {
    height:100px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.4rem;

}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}


content {
    width: 80%;
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

input[type="radio"] {
    visibility:hidden;
}




/* Classes -----------------------------------------------*/

.rowIt {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.justify { 
    text-align: justify;
}

.block {
    display: block;
}

.inblock {
    display: inline-block;
}

.gutter-right {
    margin-right: 20px;
}

.resets {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


/*IDS-----------------------------------------  */
